<li>
    <p>
        <%= post.content %>
            <br>
            <small>
                <%= post.user.name %>
            </small>

            <%if (locals.user && locals.user.id == post.user.id){ %>
            <small>
                <a href="/posts/destroy/<%= post.id %>">Delete</a>
            </small>
            <% } %>

    </p>

    <div class="post-comments">
        <% if (locals.user){%>
            <form action="/comments/create" method="POST" required>
                <input type="text" name="content" placeholder="Type your comment here...">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add">
            </form>
            <%}%>

            <div class="post-comment-list">
                <ul id="post-comment-<%= post._id%>">
                    <% for (comment of post.comments){ %>
                        
                        <%- include('_comment') -%>
                    
                    <%}%>

                </ul>
            </div>
    </div>
</li>
