<!-- <link rel="stylesheet" href="/css/user_profile.css"> -->

<h1>nerdsConnect / Profile</h1>

<h2>Welcome, <%= user.name %></h2>

    <% if (user.id == profile_user.id){ %>

        <form action="/users/update/<%= profile_user.id %>" method="post">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Your E-mail" value="<%= profile_user.email %>" required>
            <input type="submit" value="Update">
        </form>

    <% }else{ %>

        <p>Name: <%= profile_user.name %></p>
        <p>E-mail: <%= profile_user.email %></p>

    <% } %>

